@media screen and (min-width: 600px) {
    .third {
        display: flex;
        height: 99.4%;
    }
    .nav {
        display: flex;
        width: 100%;
        flex: 1;
    }
}
.n{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teal, .hover-teal:hover {
    color: #fff!important;
    background-color: #60718b!important;
}
